<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"></ul></div>

In [2]:
import os
import sys
sys.path.insert(0, os.path.relpath('../')) 

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

from super_simulation.super_simulation_factory import SuperSimulationFactory
from transition_table import TransitionTable
from spark_policy import SparkPolicy
from utils.spark_bq_utils import upload_spark_model_inputs
import pandas as pd
from functools import partial

pd.set_option('display.max_rows', 500)

In [4]:
%pwd

'/Users/pacopoler/Desktop/SDC/stanford-decarceration-collective/notebooks'

In [19]:
admissions = pd.read_csv("../state/CA/CA_admissions_by_crime_category.csv")
admissions = admissions.iloc[:, :6]

In [20]:
admissions.head()

,Date,Crimes Against Persons,Property Crimes,Drug Crimes,Other Crimes,Missing
0,January 2018,"1,372",563,256,635,NaN
1,February 2018,"1,405",509,208,582,NaN
2,March 2018,"1,711",621,283,746,NaN
3,April 2018,"1,334",535,222,580,NaN
4,May 2018,"1,832",607,278,745,NaN

In [29]:
total_pop = pd.read_csv("../state/CA/CA_total_pop_by_crime_category.csv")
total_pop = total_pop.iloc[:, :6]
total_pop.head()

,Date,Crimes Against Persons,Property Crimes,Drug Crimes,Other Crimes,Missing
0,January 2018,"98,544","13,755","5,621","11,637",NaN
1,February 2018,"98,444","13,798","5,615","11,546",NaN
2,March 2018,"98,599","13,716","5,628","11,706",NaN
3,April 2018,"98,313","13,617","5,604","11,464",NaN
4,May 2018,"98,465","13,590","5,587","11,677",NaN

In [30]:
# 1. dates to date format
# 2. numbers to int, get rid of commas
# 3. 2020-2021 "missing" column + missing data

In [47]:
month_year = total_pop.Date.str.split(" " , n=1, expand = True)
total_pop["Month"], total_pop["Year"] = month_year.iloc[:, 0], month_year.iloc[:, 1]
total_pop = total_pop.drop("Date", axis = 1)

AttributeError: 'DataFrame' object has no attribute 'Date'

In [48]:
for i in range (len(total_pop)): 
    total_pop.iloc[i,5] = i%12+1

In [ ]:
month_to_number = {
    'January': 1
}

In [50]:
total_pop.Month = total_pop.index % 12 + 1

In [51]:
total_pop.Month = total_pop.Month.map(month_to_number)

,Crimes Against Persons,Property Crimes,Drug Crimes,Other Crimes,Missing,Month,Year
0,"98,544","13,755","5,621","11,637",NaN,1,2018
1,"98,444","13,798","5,615","11,546",NaN,2,2018
2,"98,599","13,716","5,628","11,706",NaN,3,2018
3,"98,313","13,617","5,604","11,464",NaN,4,2018
4,"98,465","13,590","5,587","11,677",NaN,5,2018
5,"98,459","13,627","5,574","11,757",NaN,6,2018
6,"98,397","13,619","5,558","11,736",NaN,7,2018
7,"98,235","13,591","5,522","11,760",NaN,8,2018
8,"98,112","13,540","5,508","11,564",NaN,9,2018
9,"97,950","13,493","5,459","11,670",NaN,10,2018
10,"97,820","13,405","5,355","11,648",NaN,11,2018
11,"97,542","13,301","5,272","11,594",NaN,12,2018
12,"97,129","13,136","5,193","11,378",NaN,1,2019
13,"96,949","13,042","5,127","11,419",NaN,2,2019
14,"96,828","13,092","5,160","11,479",NaN,3,2019
15,"96,815","13,054","5,177","11,554",NaN,4,2019
16,"96,380","12,894","5,114","11,443",NaN,5,2019
17,"96,085","12,910","5,083","11,394",NaN,6,2019
18,"95,970","12,898","5,066","11,361",NaN,7,2019
19,"95,708","12,762","4,937","11,725",NaN,8,2019
20,"95,612","12,797","4,957","11,655",NaN,9,2019
21,"95,660","12,791","4,935","11,558",NaN,10,2019
22,"95,434","12,627","4,848","11,591",NaN,11,2019
23,"95,559","12,593","4,795","11,080",NaN,12,2019
24,95294,12495,4711,10547,602.0,1,2020
25,94982,12436,4624,10397,684.0,2,2020
26,94862,12302,4530,10285,430.0,3,2020
27,92941,11268,4106,9227,225.0,4,2020
28,91743,11102,4060,9083,209.0,5,2020
29,90346,10488,3853,8541,175.0,6,2020
30,87570,8494,2937,6722,152.0,7,2020
31,85292,7559,2480,5787,142.0,8,2020
32,83035,7125,2326,5477,181.0,9,2020
33,82737,7029,2275,5481,157.0,10,2020
34,82640,6951,2234,5579,125.0,11,2020
35,81330,6602,2107,5279,114.0,12,2020
36,80586,6428,2048,5129,119.0,1,2021
37,80741,6451,2060,5208,147.0,2,2021
38,80976,6491,2065,5316,184.0,3,2021
39,81453,6628,2117,5541,111.0,4,2021
40,82055,6845,2224,5878,198.0,5,2021
41,82650,6988,2290,6253,291.0,6,2021
42,83019,6999,2316,6373,238.0,7,2021
43,83186,7058,2340,6548,236.0,8,2021
44,82641,7166,2410,6680,178.0,9,2021
45,82568,7266,2462,6868,163.0,10,2021
46,82588,7269,2486,6921,246.0,11,2021
47,82592,7371,2554,7093,119.0,12,2021
48,81024,6920,2342,6483,94.0,1,2022
49,80198,6651,2256,6220,229.0,2,2022
50,80352,6669,2274,6467,298.0,3,2022
51,80550,6751,2302,6735,296.0,4,2022
52,80771,6876,2379,6915,213.0,5,2022
53,80719,6867,2405,6970,218.0,6,2022
54,80361,6831,2377,6929,221.0,7,2022
55,80178,6790,2381,6971,231.0,8,2022
56,80040,6789,2410,7024,153.0,9,2022
57,79644,6741,2401,6979,202.0,10,2022
58,79453,6731,2423,6966,220.0,11,2022
59,79335,6740,2415,7032,185.0,12,2022